* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--white-color: #ffffff;
	--primary-color: #2d7ae0;
	--bg-color: #e5e5e5;

	--blue-color: #0f7bfe;
	--grey: #333333;
	--light-dark: #979797;
	--dark: #3a3a3a;
	--light: #f1f2f3;
	--dark-blue: #202739;
	--light-white: rgba(255, 255, 255, 0.6);
}

/* PRELOADER */

#preloader {
	background: var(--light);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.status {
	background: url(../images/preloader.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -117px;
	margin-top: -117px;
}

body {
	font-family: 'Poppins', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* header */
.white {
	color: var(--white-color);
}

.text-color {
	color: var(--grey);
}

.header {
	background: url(../images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1px;
	min-height: 75vh;
	position: relative;
}
.brand-logo {
	width: 60%;
}
.firstlogo,
.secondlogo {
	width: 100%;
}
.logo {
	width: 86%;
}
.logo-picone {
	width: 56%;
}

.auth-btns {
	justify-content: flex-end;
}
.nav-link {
	font-family: 'Barlow', sans-serif;
	transition: all 0.3s linear;
}
.nav-link:hover {
	color: var(--light);
}

.button {
	color: var(--white-color);
	font-weight: bold;
	transition: all 0.3s linear;

	font-family: 'Barlow', sans-serif;
	font-size: 0.95rem;
}

.button:hover {
	color: var(--white-color);
}

.subscribe-btn {
	background: var(--primary-color);
	width: 30%;
	border: 2px solid #ffffff;
	box-shadow: 0px 4px 44px 2px rgba(0, 0, 0, 0.05);
}
.subscribe-btn:hover {
	background: #1472e6;
}

/* hero section */
.hero-title {
	font-weight: bold;
	font-size: 1.3rem;
}
.hero-p {
	width: 70%;
}

.hero-text {
	font-size: 0.875rem;
	color: yellow;
}
.mt-6 {
	margin-top: 4rem;
}
.mt-8 {
	margin-top: 3rem;
}

.slick-slide img {
	display: inline-block;
}
.judge-slide {
	position: absolute;
	left: 40%;
	top: 35%;
	width: 60%;
}
.judge-img1 {
	width: 37%;
}
.judge-img2 {
	width: 38%;
}
.judge-img3 {
	width: 43%;
}
.judge-img4 {
	width: 40%;
}
/* .slideone {
	width: 10% !important;
} */
/*Hwo it works */
.hiw {
	background: var(--white-color);
	padding: 1px;
}
.text-area-title,
.work-text {
	color: var(--blue-color);
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
}
.text-area-title::after {
	content: '';
	width: 10%;
	height: 5px;
	background-color: #e0be14;
	position: absolute;
	left: 0%;
	top: 100%;
}
.firstlogoone {
	position: absolute;
	width: 100%;
	top: 70%;
}
/* Steps */
.step-p {
	color: var(--grey);
	font-size: 0.775rem;
}
.sub-p {
	font-weight: bold;
	font-size: 0.875rema;
}

.step-num {
	color: var(--light-dark);
}
.step-title {
	color: var(--grey);
	font-size: 1.2rem;
	font-weight: bold;
}
/* HOW IT WORKS */
.work-text {
	font-weight: bold;
}

.video {
	cursor: pointer;
	width: 100%;
}

.hiw-title {
	font-weight: bold;
	font-size: 1rem;
}

.hiw-text {
	font-size: 0.875rem;
}

/* STATS */
.stats-section {
	background: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.stat-text {
	font-size: 1.5rem;
	font-weight: bold;
}
.stat-p {
	font-size: 0.875rem;
	font-weight: normal;
}
/* FOOTER */
.footer {
	background: var(--dark-blue);
}
.foot-links {
	color: var(--light-white);
	transition: all 0.3s linear;
}
.social-icon {
	font-size: 1.5rem;
}
hr {
	background: var(--light-white);
	width: 100%;
}
.foot-sec {
	flex-wrap: wrap;
}
.foot-logo:hover {
	color: var(--white-color);
}

@media all and (min-width: 768px) {
	.brand-logo {
		width: 40%;
	}
	/* .logo-p {
		margin-left: -43px;
	}

	.firstlogo,
	.secondlogo {
		width: 50%;
	}

	.logo {
		width: 66%;
	}
	.logo-picone {
		width: 36%;
	} */

	.hero-title {
		font-size: 2.5rem;
	}

	.hero-text {
		font-size: 1rem;
	}
	.text-area-title,
	.work-text {
		font-size: 1.5rem;
	}
	.step-p {
		font-size: 1rem;
	}
	.mt-8 {
		margin-top: 4rem;
	}
	.mobile-card {
		display: none !important;
	}
	.web-card {
		display: flex;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media all and (min-width: 992px) {
	/* .firstlogo {
		width: 30%;
	} */
	.brand-logo {
		width: 30%;
	}
	.hero-title {
		font-weight: bold;
		font-size: 3.5rem;
	}
	.subscribe-btn {
		width: 50%;
	}

	.card-name {
		font-size: 1.2rem;
	}
	.mt-8 {
		margin-top: 5rem;
	}
	.text-area-title,
	.work-text {
		font-size: 2rem;
	}
	.step-title {
		color: var(--grey);
		font-size: 1.5rem;
		font-weight: bold;
	}
}
