* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--white-color: #ffffff;
	--primary-color: #2d7ae0;
	--bg-color: #e5e5e5;
	--light-red: #ff6a6a;
	--dark-blue-header: #2c3e56;
	--text: #2c2b2b;
	--icon-bg: #2fab73;
	--blue-color: #2f80ed;
	--dark-blue: #255fad;
	--light-white: #f5f5f5;
	--light: #f1f1f1;
	--inner: #2c2b2b;
}

/* PRELOADER */

#preloader {
	background: var(--light);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.status {
	background: url(../images/preloader.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -117px;
	margin-top: -117px;
}

body {
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* header */
.white {
	color: var(--white-color);
}

.text-color {
	color: var(--grey);
}

.header {
	background: url(../images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1px;
	position: relative;
}

.brand-logo {
	width: 60%;
}
.firstlogo,
.secondlogo {
	width: 100%;
}
.logo {
	width: 86%;
}
.logo-picone {
	width: 56%;
}

.auth-btns {
	justify-content: flex-end;
}
.nav-link {
	transition: all 0.3s linear;
}
.nav-link:hover {
	color: var(--light);
}

.button {
	color: var(--white-color);
	font-weight: bold;
	transition: all 0.3s linear;
	font-size: 0.95rem;
}

.button:hover {
	color: var(--white-color);
}

.subscribe-btn {
	background: var(--primary-color);
	border: 2px solid #ffffff;
	box-shadow: 0px 4px 44px 2px rgba(0, 0, 0, 0.05);
}
.started-btn {
	background: var(--primary-color);
	box-shadow: 0px 4px 44px 2px rgba(0, 0, 0, 0.05);
}
.subscribe-btn:hover {
	background: #1472e6;
}

/* hero section */
.hero-title {
	font-weight: bold;
	font-size: 1.3rem;
}
.hero-title-sub {
	font-size: 1.3rem;
	font-weight: normal;
}

.hero-p {
	font-size: 0.875rem;
	width: 70%;
}
.mt-6 {
	margin-top: 4rem;
}
.mt-8 {
	margin-top: 3rem;
}

.slick-slide img {
	display: inline-block;
}
.judge-slide {
	position: absolute;
	left: 40%;
	top: 35%;
	width: 60%;
}
.judge-slide-mobile {
	top: 90%;
}
.judge-img1 {
	width: 37%;
}
.judge-img2 {
	width: 38%;
}
.judge-img3 {
	width: 43%;
}
.judge-img4 {
	width: 40%;
}
.web-card {
	display: none;
}

/*Hwo it works */
.mt-9 {
	margin-top: 3rem;
}

.hiw {
	background: var(--white-color);
	padding: 1px;
}

.button-header {
	background: var(--light-red);
	border: 1px solid var(--light-red);
	border-radius: 11px;
	color: var(--white-color);
	padding: 10px 20px;
	cursor: text;
	width: 100%;
}
.button-header:focus {
	outline: 0;
}
.span-cirle {
	display: inline-block;
	padding: 15px;
	line-height: 100%;
	border: 1px solid #ff6a6a;
	transform: rotate(4.5deg);
	border-radius: 50%;
	color: var(--light-red);
	text-align: center;
	font-size: 2rem2em;
	font-weight: bold;
}

.work-text {
	color: var(--dark-blue-header);
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
	font-family: 'Mulish', sans-serif;
}
.mockup-img {
	width: 100%;
	display: block;
}

/* Steps */
.step-p {
	color: var(--text);
	font-size: 0.775rem;
	line-height: 24px;
	font-family: 'Mulish', sans-serif;
}
.icons {
	color: var(--icon-bg);
	font-size: 1.5rem;
}

/* HOW IT WORKS */
.work-text {
	font-weight: bold;
}

.video {
	cursor: pointer;
	width: 100%;
}

.hiw-detail {
	color: var(--light-red);
}
.sectiontwo {
	order: 2;
}
.work-detail {
	order: 1;
}

/* FAQ */
.faq-title {
	color: var(--dark-blue-header);
	font-size: 1.1rem;
	font-weight: bold;
}

/* STATS */
.stats-section {
	background: url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6rem;
}
/* Get started */
.started {
	background: url(../images/started-banner.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	padding: 1px;
}
.started-title {
	color: var(--white-color);
	font-weight: bold;
}

/* FOOTER */
.footer {
	background: var(--dark-blue);
}
.foot-links {
	color: var(--white);
	transition: all 0.3s linear;
}
.foot-links:hover {
	color: var(--light-white);
}
.social-icon {
	font-size: 1.5rem;
}
hr {
	background: var(--light-white);
	width: 100%;
}
.foot-sec {
	flex-wrap: wrap;
}

.foot-copy {
	color: var(--light);
}
@media all and (min-width: 600px) {
	.inner-text {
		color: var(--inner);
		font-weight: bold;
	}
	.mt-9 {
		margin-top: 7rem;
	}
}

@media all and (min-width: 768px) {
	.brand-logo {
		width: 40%;
	}

	.hero-title,
	.hero-title-sub {
		font-size: 2.5rem;
	}

	.hero-p {
		font-size: 1rem;
	}

	.work-text {
		font-size: 2.5rem;
	}
	.step-p {
		font-size: 1rem;
	}
	.mt-8 {
		margin-top: 4rem;
	}
	.started-btn {
		width: 15%;
	}
}

@media all and (min-width: 992px) {
	.hero-p {
		margin-left: 5rem;
	}
	.secondheader {
		margin-top: 5rem;
	}
	.judge-slide {
		top: 40%;
	}

	.judge-img1 {
		width: 46%;
	}
	.judge-img2 {
		width: 48%;
	}
	.judge-img3 {
		width: 54%;
	}
	.judge-img4 {
		width: 49%;
	}
	.nav-link {
		padding: 0.3rem;
	}
	.brand-logo {
		width: 30%;
	}
	.hero-title,
	.hero-title-sub {
		font-size: 3rem;
	}
	.inner-text {
		color: var(--white-color);
	}
	.subscribe-btn {
		width: 50%;
	}

	.web-card {
		display: inline-block;
	}
	.mobile-card {
		display: none;
	}
	.mt-8 {
		margin-top: 5rem;
	}

	.work-text {
		font-size: 3rem;
	}

	.work-detail {
		margin-left: 5rem;
	}
	.faq-title {
		font-size: 1.5rem;
	}
	.started {
		background-size: cover;
	}
	.sectiontwo {
		order: 1;
	}
	.work-detail {
		order: 2;
	}
}

/* @media all and (min-width: 1200px) {
	.judge-slide {
		width: 70%;
		top: 45%;
	}
} */
@media all and (min-width: 1400px) {
	.nav-link {
		padding: 0.5rem 1rem;
	}
	.work-text {
		font-size: 3.5rem;
	}
	/* .judge-slide {
		width: 60%;
	} */
	.judge-img1 {
		width: 37%;
	}
	.judge-img2 {
		width: 38%;
	}
	.judge-img3 {
		width: 43%;
	}
	.judge-img4 {
		width: 40%;
	}
	.hero {
		margin-bottom: 6rem;
	}
}
@media all and (min-width: 2400px) {
	.hero-p {
		margin-left: 10rem !important;
	}
	.secondheader {
		margin-left: 18rem !important;
	}
	.judge-img1 {
		width: 27%;
	}
	.judge-img2 {
		width: 28%;
	}
	.judge-img3 {
		width: 33%;
	}
	.judge-img4 {
		width: 30%;
	}
	.judge-slide {
		left: 45%;
		top: 35%;
	}
}
